
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/CodeAtWorkApp/CodeAtWorkAppLayout.css" rel="stylesheet" />
    <script src="~/Scripts/a076d05399.js"></script>
</head>
<body>
    <div class="navbar">
        <div id="navbarButtons">
            <div>
                <img src="~/Design/AppLogo.png" id="appLogo" />
            </div>
            <div class="navGrid">
                <svg role="img" viewBox="0 0 24 24" class="navbarSvgs"><path fill-rule="evenodd" fill="currentColor" d="M20.5703897,13.4986182 L21.5126731,14.4766708 C21.6987855,14.6699043 22.0003009,14.6698052 22.1864133,14.4765718 L22.8605347,13.7762366 C23.0466471,13.5826069 23.0464565,13.2690358 22.8601536,13.0759014 L12.3307469,2.14486754 C12.1446345,1.95166576 11.843119,1.95175589 11.6569113,2.14486754 L1.13959288,13.0758023 C0.953469041,13.2691349 0.953469041,13.582706 1.13959288,13.7761375 L1.81336646,14.4764727 C1.99948839,14.6698052 2.3011277,14.6698052 2.48724963,14.4764727 L3.41717315,13.5100082 L3.41717315,21.009567 C3.41717315,21.5565831 3.84385941,22 4.37012963,22 L9.13491201,22 C9.66118223,22 10.0878685,21.5565831 10.0878685,21.009567 L10.0878685,17.0473397 C10.0878685,15.9533074 10.9411457,15.0664737 11.9937814,15.0664737 C13.0464172,15.0664737 13.8996944,15.9533074 13.8996944,17.0473397 L13.8996944,21.009567 C13.8996944,21.5565831 14.3264283,22 14.8526509,22 L19.6174333,22 C20.1436558,22 20.5703897,21.5565831 20.5703897,21.009567 L20.5703897,13.4986182 Z M5.3230861,11.5291421 L11.9938767,4.59592284 L18.6644768,11.5202282 L18.6644768,20.019134 L15.8056073,20.019134 L15.8056073,17.0473397 C15.8056073,14.8593741 14.0989576,13.0856076 11.9937814,13.0856076 C9.88859576,13.0856076 8.18195553,14.8593741 8.18195553,17.0473397 L8.18195553,20.019134 L5.3230861,20.019134 L5.3230861,11.5291421 Z"></path></svg>
                @Html.ActionLink("Home", "Home", "CodeAtWorkApp")
            </div>
            <div class="navGrid">
                <svg aria-label="browse icon" viewBox="0 0 24 24" class="navbarSvgs"><path fill-rule="evenodd" fill="currentColor" d="M3 9h18a1 1 0 011 1v10a1 1 0 01-1 1H3a1 1 0 01-1-1V10a1 1 0 011-1zm1 2v8h16v-8H4zm1-5h14a1 1 0 011 1v1H4V7a1 1 0 011-1zm3-3h8a1 1 0 011 1v1H7V4a1 1 0 011-1z"></path></svg>
                @Html.ActionLink("Browse", "Index", "Home")
            </div>
            <div>
                <input type="text" name="search" id="NavSearch" placeholder="Search..." onkeyup="UpdateSearchCriteria(this)">
            </div>
            <div class="navGrid">
                <svg role="img" viewBox="0 0 24 24" class="navbarSvgs"><path fill="currentColor" fill-rule="evenodd" d="M4.41132,9.7929665 L7.85066,13.2323465 C7.94443,13.3260465 7.99711,13.4532465 7.99711,13.5858465 L7.99711,21.2929465 C7.99711,21.5691465 7.77325,21.7929465 7.49711,21.7929465 L6.5,21.7929465 C6.22393,21.7929465 6.00011,21.5690465 6,21.2929465 L5.99711,14.2071465 L3,11.2100765 L3,13.2929465 C3,13.5691465 2.77614,13.7929465 2.5,13.7929465 L1.5,13.7929465 C1.223858,13.7929465 1,13.5691465 1,13.2929465 L1,8.2929665 C1,8.0168265 1.223858,7.7929665 1.5,7.7929665 L6.5,7.7929665 C6.77614,7.7929665 7,8.0168265 7,8.2929665 L7,9.2929665 C7,9.5691065 6.77614,9.7929665 6.5,9.7929665 L4.41132,9.7929665 Z M21,11.2071865 L18,14.2071465 L18,21.2929465 C18,21.5691465 17.7761,21.7929465 17.5,21.7929465 L16.5,21.7929465 C16.2239,21.7929465 16,21.5691465 16,21.2929465 L16,13.5858465 C16,13.4532465 16.0527,13.3260465 16.1464,13.2323465 L19.5858,9.7929665 L17.5,9.7929665 C17.2239,9.7929665 17,9.5691065 17,9.2929665 L17,8.2929665 C17,8.0168265 17.2239,7.7929665 17.5,7.7929665 L22.5,7.7929665 C22.7761,7.7929665 23,8.0168265 23,8.2929665 L23,13.2929465 C23,13.5691465 22.7761,13.7929465 22.5,13.7929465 L21.5,13.7929465 C21.2239,13.7929465 21,13.5691465 21,13.2929465 L21,11.2071865 Z M12.5001,21.7928465 L11.5001,21.7928465 C11.2239,21.7928465 11.0001,21.5690465 11.0001,21.2928465 L11.0001,5.6239565 L9.52782,7.0961965 C9.33256,7.2914565 9.01598,7.2914565 8.82072,7.0961965 L8.11361,6.3890865 C7.91835,6.1938265 7.91835,5.8772465 8.11361,5.6819765 L11.6491,2.1464465 C11.8444,1.9511845 12.161,1.9511845 12.3563,2.1464465 L15.8918,5.6819765 C16.087,5.8772465 16.087,6.1938265 15.8918,6.3890865 L15.1847,7.0961965 C14.9894,7.2914565 14.6728,7.2914565 14.4776,7.0961965 L13.0001,5.6186765 L13.0001,21.2928465 C13.0001,21.5690465 12.7762,21.7928465 12.5001,21.7928465 Z"></path></svg>
                @Html.ActionLink("Paths", "Index", "Home")

            </div>
            <div class="navGrid">
                <svg role="img" viewBox="0 0 24 24" class="navbarSvgs"><path fill="currentColor" fill-rule="evenodd" d="M12.5217391,23 L11.4782609,23 C11.1901565,23 10.9565217,22.7713655 10.9565217,22.4894273 L10.9565217,13.661625 C9.44792348,13.2223283 8.34782609,11.8547082 8.34782609,10.2356719 C8.34782609,8.26179777 9.98295652,6.66166287 12,6.66166287 C14.0170435,6.66166287 15.6521739,8.26179777 15.6521739,10.2356719 C15.6521739,11.8547082 14.5520348,13.2223283 13.0434783,13.661625 L13.0434783,22.4894273 C13.0434783,22.7713655 12.8098435,23 12.5217391,23 Z M5.75491826,2.70149751 C3.5169913,4.48014904 2.08695652,7.19447614 2.08695652,10.2356719 C2.08695652,13.0783468 3.33641739,15.6354991 5.32722783,17.4098414 C5.40146087,17.4759096 5.49705391,17.55658 5.61401739,17.6518529 C5.82866087,17.8265709 5.86464,18.1357737 5.69570087,18.3532777 L5.06362435,19.1671306 C4.8892487,19.3916805 4.56194087,19.4353855 4.33249043,19.2647521 C4.3269913,19.2606675 4.32158609,19.2564808 4.31625391,19.252192 C4.18413913,19.1455845 4.07623304,19.0555194 3.99253565,18.9820991 C1.54186435,16.8320774 0,13.7100273 0,10.2356719 C0,6.52304238 1.76054609,3.21282587 4.50921391,1.06088747 C4.63164522,0.965041741 4.81027826,0.984463927 4.90821913,1.10426675 C4.90969043,1.10606601 4.91114087,1.10788365 4.91257043,1.10971763 L5.80861565,2.26346696 C5.91444522,2.39973882 5.89068522,2.59359307 5.75491826,2.70149751 Z M24,10.2356719 C24,13.6882769 22.4774609,16.7928654 20.0535652,18.9414575 C19.9593391,19.0249872 19.836,19.1283271 19.6835478,19.2514772 C19.4614957,19.4310967 19.1325913,19.4002581 18.9491478,19.1828563 C18.9446609,19.1776484 18.9402783,19.1722363 18.936,19.1667222 L18.3041739,18.3531756 C18.1352348,18.1355695 18.1712348,17.8264688 18.3858783,17.6517508 C18.5074435,17.5528018 18.6064696,17.4690679 18.6830609,17.400549 C20.6678609,15.6266152 21.9130435,13.0734453 21.9130435,10.2356719 C21.9130435,7.39145509 20.6622261,4.83312838 18.6696,3.0587146 C18.5961391,2.99328981 18.5016,2.91356899 18.386087,2.81955213 C18.1714435,2.64480351 18.1353391,2.33563131 18.3042783,2.11804564 L18.9377739,1.30245168 C19.1120348,1.07796 19.4393739,1.03429889 19.6688348,1.20491187 C19.6741565,1.20889331 19.6793739,1.21297585 19.6845913,1.21715642 C19.7409391,1.26248711 19.7897739,1.30259157 19.8310957,1.33747186 C22.3839652,3.49096546 24,6.6786241 24,10.2356719 Z M8.15601391,6.06943937 C8.0766887,6.13773358 8.01096,6.19718466 7.95880696,6.24779263 C6.91024696,7.26542532 6.26086957,8.67633176 6.26086957,10.2356719 C6.26086957,11.8110032 6.92366609,13.2348883 7.99125913,14.2548084 C8.0357113,14.2972881 8.09045217,14.3465073 8.15549217,14.402466 C8.36101565,14.5793284 8.39191304,14.8815875 8.22631304,15.0948026 L7.59253565,15.9108 C7.41821217,16.1353498 7.09088348,16.1789527 6.86150609,16.0083193 C6.85321043,16.0021925 6.84510261,15.9957593 6.83720348,15.9891218 C6.77398957,15.9359201 6.71990609,15.8889474 6.67496348,15.8481016 C5.13649043,14.4495408 4.17391304,12.4525888 4.17391304,10.2356719 C4.17391304,7.98130954 5.16925565,5.95443797 6.75333913,4.55296692 C6.77773565,4.5313697 6.8051687,4.50771997 6.83562783,4.48199732 C7.05376696,4.29778268 7.38322435,4.32152431 7.57146783,4.53499476 C7.57852174,4.54299033 7.58532522,4.55120034 7.59185739,4.55961458 L8.22679304,5.37718446 C8.39237217,5.59038941 8.36146435,5.89256677 8.15601391,6.06943937 Z M19.826087,10.2356719 C19.826087,12.4929241 18.8282087,14.5220422 17.2406609,15.9236664 C17.217913,15.9437829 17.1925565,15.9655333 17.1645913,15.9892239 C16.9465043,16.1735407 16.6170783,16.1499522 16.4287304,15.9365328 C16.4216348,15.9284658 16.4147478,15.9201945 16.4081739,15.9118211 L15.7723826,15.0930667 C15.606887,14.8800558 15.6376696,14.578103 15.842713,14.4012407 C15.9469565,14.3111756 16.0315826,14.2338749 16.096487,14.1691343 C17.1125217,13.1559538 17.7391304,11.7674002 17.7391304,10.2356719 C17.7391304,8.72266112 17.1277565,7.34939411 16.1336348,6.33954255 C16.0603826,6.26518274 15.9631304,6.17550575 15.8416696,6.07051157 C15.6369391,5.89347559 15.6064696,5.59184965 15.7717565,5.3790021 L16.4071304,4.5609727 C16.5813913,4.33647388 16.9087304,4.2928097 17.1381913,4.46342268 C17.1464348,4.4695904 17.1545739,4.47599298 17.1624,4.48263043 C17.2382609,4.54636011 17.3022261,4.60217592 17.3544,4.65007785 C18.8757913,6.04724988 19.826087,8.03285696 19.826087,10.2356719 Z M12,11.7674002 C12.8644174,11.7674002 13.5652174,11.081599 13.5652174,10.2356719 C13.5652174,9.38972438 12.8644174,8.70395374 12,8.70395374 C11.1355826,8.70395374 10.4347826,9.38972438 10.4347826,10.2356719 C10.4347826,11.081599 11.1355826,11.7674002 12,11.7674002 Z"></path></svg>
                @Html.ActionLink("Channels", "Index", "Home")

            </div>
            <div class="navGrid">
                <svg role="img" viewBox="0 0 24 24" class="navbarSvgs"><path fill="currentColor" fill-rule="evenodd" d="M16.5012,2 L8,2 C5.79401,2 4,3.79501 4,6 L4,21.7146 C4,21.9907 4.223877,22.2146 4.5,22.2146 C4.640137,22.2146 4.773865,22.1558 4.868591,22.0525 L9.5,17 L14.1314,22.0525 C14.318,22.256 14.6343,22.2698 14.8379,22.0832 C14.9412,21.9885 15,21.8547 15,21.7146 L15,10 L19,10 C19.552,10 20,9.55301 20,9 L20,6 C20,3.79501 18.7083,2 16.5012,2 Z M13,6 L13,18 L9.5,14 L6,18 L6,6 C6,4.896 6.89697,4 8,4 L13.53601,4 C13.19598,4.58899 13,5.272 13,6 Z M15,8 L18,8 L18,6 C18,4.896 17.6033,4 16.5012,4 C15.3983,4 15,4.896 15,6 L15,8 Z"></path></svg>
                @Html.ActionLink("Bookmarks", "Bookmarks", "CodeAtWorkApp")

            </div>
            <div style="cursor:pointer">
                <div style="float: right; padding-right: 17px;">
                    <span class="dot">F</span>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        @RenderBody()
    </div>
</body>
</html>

<script>

  

</script>